<h1  mat-dialog-title> PLATEFROME</h1>
    <table class="table table-bordered">
        <thead> 
            <tr>
                <th style="width: 15%;">Réseau sociaux </th>
                <th style="width: 20%;">Heure de post</th>
                <th style="width: 65%;">Format</th>
            </tr> 
        </thead>
        <tbody>      
                    <tr *ngFor="let elt_tab of filteredArray" >
                        <td *ngIf="elt_tab=='Facebook'" >
                            <img style="width: 50%;height: 50%; margin-top: 15%; margin-left: 20%;" src="assets/images/images.png" alt="facebook">
   
                        </td>
                        <td *ngIf="elt_tab=='Facebook'" style="font-weight: bold;">En semaine entre 7h et 10h.
                           <br> Le week entre de 9h à 11h.
                        </td>
                        <td *ngIf="elt_tab=='Facebook'">
                            Photo de profil : 180×180 pixels.<br>
        À noter : la photo est en format cercle. Afin que votre image s’affiche correctement, pensez à bien la centrer !
        <br>Photo de couverture : 851×315 pixels.
        <br> Photo ou vidéo postée dans le fil d’actualité : au moins 1200 pixels de large.<br> Vous êtes libre du format : portrait, paysage ou carré, à vous de voir selon votre créativité et vos besoins !
        <br> Image d’un lien web : 600×315 pixels.
        <br>Stories (photo ou vidéo) : 1080×1920 pixels.
        <br>Photo de couverture d’un événement : 1920 x 1080 pixels.
        <br>Photos de carrousel : 1080×1080 pixels.
                        </td>
                    </tr>
            <tr *ngFor="let elt_tab of filteredArray ">
                <td *ngIf="elt_tab=='Twitter'"> 
                    <img style="width: 70%;height: 50%;margin-left: 12%;"  src="assets/images/twitter.png" alt="twitter">
                </td>
                <td *ngIf="elt_tab=='Twitter'"> En semaine Tweeter à 17h</td>
                <td *ngIf="elt_tab=='Twitter'">Photo de profil : 400×400 pixels.
                    <br> Photo de couverture : 1500×500 pixels.
                    <br> Photo publiée dans le fil d’actualité : 1024×512 pixels si vous voulez qu’elle apparaisse correctement. Le cas échéant, elle sera tronquée et vous risquez de perdre en visibilité.
                    <br> Vidéo publié dans le fil d’actualité : format 16 :9 ou carré, les deux s’affichent parfaitement dans la timeline Twitter.
                </td>
            </tr>
            <tr *ngFor="let elt_tab of filteredArray ">
                <td *ngIf="elt_tab=='Instagram'">
                    <img style="width: 70%;height: 40%; margin-left: 10%;" src="assets/images/Instagram.jpg" alt="Instagram">
                </td>
                <td *ngIf="elt_tab=='Instagram'">Chaque jour entre 13h et 17h.
                    <br>un contenu vidéo sur Instagram est entre 21h et 8h
                </td>
                <td *ngIf="elt_tab=='Instagram'">
                    Photo de profil : 320×320 pixels.<br>
Photo dans le fil d’actualité : si la taille carrée est recommandée (1080×1080 pixels),<br> vous pouvez aussi publier des images au format paysage (1080×566 pixels) ou portrait (1080×1350 pixels).
<br>Stories (photo ou vidéo) : 1080×1920 pixels.
                </td>
            </tr>
            <tr *ngFor="let elt_tab of filteredArray ">
                <td *ngIf="elt_tab=='Linkedin'">
                    <img style="width: 85%;height: 50%;" src="assets/images/Linkedin.png" alt="Linkedin">
                </td>
                <td *ngIf="elt_tab=='Linkedin'">Du mardi au jeudi  publié entre 9h et 11h.</td>
                <td *ngIf="elt_tab=='Linkedin'">Logo d’une page LinkedIn : 300×300 pixels.
                    <br> Photo de couverture : 1536×768 pixels.
                    <br> Photo d’un lien web : 1200×627 pixels.
                    <br> Image d’un contenu : 1200×627 pixels.
                </td>
            </tr>            
                    <tr *ngFor="let elt_tab of filteredArray ">
                        <td *ngIf="elt_tab=='Tik Tok'">
                            <img style="width: 85%;height: 70%;" src="assets/images/TikTok.png" alt="TikTok">
                        </td>
                        <td *ngIf="elt_tab=='Tik Tok'">Chaque jour de 6h à 9h, le soir .<br>
                             Les lundis et mercredis de 22h à 23h ,<br>  le matin de 7h à 11h et le soir de 16h à 20h.
                             <br> Le week  le matin de 7h à 11h et le soir de 16h à 20h.
                        </td>
                        <td *ngIf="elt_tab=='Tik Tok'">Photo de profil : 200×200 pixels.
                            <br> La vidéo en format vertical est préférable, mais vous pouvez aussi publier en paysage :
                            <br> Vidéo portrait : 1080×1920 pixels
                            <br> Vidéo paysage : 1280×720 pixels                           
                        </td>
                    </tr>
                    <tr *ngFor="let elt_tab of filteredArray ">
                        <td *ngIf="elt_tab=='Snap'">
                            <img style="width: 90%;height: 70%;" src="assets/images/Snap.png" alt="Snap">
                        </td>
                        <td *ngIf="elt_tab=='Snap'">Chaque jour , au moins 2 à 3 fois par jour Ciblez les utilisateurs à l’heure où ils vont se coucher, de 21h à 23h</td>
                        <td *ngIf="elt_tab=='Snap'">Publication, story, geofilter, publicité… 
                            <br>Toutes vos publications Snapchat doivent être au format 1080×1920 pixels.</td>
                    </tr>                    
                <tr *ngFor="let elt_tab of filteredArray ">
                    <td *ngIf="elt_tab=='Pinterest'">
                        <img style="width: 90%;height: 70%;" src="assets/images/Pinterest.png" alt="Pinterest">
                    </td>
                    <td *ngIf="elt_tab=='Pinterest'">Entre 20h et 23h et entre 2h et 4h du matin.<br>
                        Si la majeure partie de votre audience travaille de 9h à 17h, faut poster avant/après les heures de travail et le déjeuner.
                       </td>
                    <td *ngIf="elt_tab=='Pinterest'">Photo de profil : 600×600 pixels.
                        <br>  Épingle classique : 600×900 pixels.
                        <br>  Grande épingle : 600×1260 pixels.
                        <br>  Épingle carrée : 600×600 pixels.
                        <br>  Couverture d’un tableau : 600×600 pixels.
                        </td>
                </tr>
            <tr *ngFor="let elt_tab of filteredArray ">
                <td *ngIf="elt_tab=='Youtube'">
                    <img style="width: 50%;height: 50%;margin-left: 20%;" src="assets/images/Youtube.jfif" alt="Youtube">
                </td>
                <td *ngIf="elt_tab=='Youtube'"> Jeudi ou vendredi. Entre 14h et 16h et entre 19h et 22h.
                    <br>  le week-end, entre  10het 11h
                    </td>
                <td *ngIf="elt_tab=='Youtube'">Photo de profil de la chaîne : 800×800 pixels.
                    <br> Photo de couverture : 2560×1440 pixels.
                    <br>Vignette de vidéo : 1280 x 720 pixels.          
                    </td>
            </tr>    
        </tbody>
    </table>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div> 